@{
    Layout = null;
}
@model List<CankutayUcarCV.DTOs.Concrete.YeteneklerDtos.YeteneklerListDto>

<html>
<head>
    <title>Test</title>
</head>
<body>
    @foreach (var item in Model)
    {
        <span>@item.id - </span>
        <span>@item.icerik</span>
        <br />
    }
</body>
</html>




