@{
    Layout = null;
}

@model CankutayUcarCV.Web.Models.KullaniciLoginViewModel


<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Signin Template · Bootstrap v5.2</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/SignIn.css" rel="stylesheet">




</head>
<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <form asp-controller="Auth" asp-action="Login" method="post">
            @*<img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">*@
            <h1 class="h3 mb-3 fw-normal">Lütfen Giriş Yapın</h1>

            <div class="form-floating">
                <input class="form-control" placeholder="Kulanıcı Adınız" asp-for="Eposta">
                <label for="Eposta" asp-for="Eposta">Eposta Adresi
                    <span class="text-danger" asp-validation-for="Eposta"></span>
                </label>
            </div>
            
            <div class="form-floating">
                <input type="password" class="form-control" placeholder="Sifre" asp-for="Sifre">
                <label for="Sifre" asp-for="Sifre">Şifre
                    <span class="text-danger" asp-validation-for="Sifre"></span>
                </label>
            </div>
            
            <div class="checkbox mb-3">
                <label>
                    <input asp-for="BeniHatirla" type="checkbox"> Beni hatırla
                </label>
            </div>
            
            <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş Yap</button>
            <p class="mt-5 mb-3 text-muted">&copy; CANKUTAY UÇAR 2022</p>
            
            <div class="text-danger" asp-validation-summary="ModelOnly">

            </div>
        </form>
    </main>



</body>
</html>
