@{
    Layout = "_Layout";
}
@model CankutayUcarCV.DTOs.Concrete.KullaniciDtos.KullaniciSifreDto



<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Change Password</h3>
    </div>
    <div class="card-body">
        <form class="form" asp-action="ChangePassword" asp-controller="Home" asp-area="Admin" role="form" autocomplete="off">
            <div class="form-group">
                <label for="inputPasswordOld">Şu Anki Şifre</label>
                <input type="password" asp-for="EskiSifre" class="form-control" id="inputPasswordOld" required="">
            </div>
            <div class="form-group">
                <label for="inputPasswordNew">Yeni Şifre</label>
                <input type="password" asp-for="YeniSIFRE" class="form-control" id="inputPasswordNew" required="">
            </div>
            <div class="form-group">
                <label for="inputPasswordNewVerify">Yeni Şifre Tekrar</label>
                <input type="password" asp-for="YeniSIFREONAYLA" class="form-control" id="inputPasswordNewVerify" required="">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg float-right">Şifre Güncelle</button>
            </div>
        </form>
    </div>
</div>